@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    height: 100%;
    width: 100%;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/6;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    gap: 30px;
    padding: 20px;
    background-color: rgb(17, 169, 230);
    color: white;
    font-weight: bolder;
    
}
.icon{
    max-width: 50px;
    max-height: 50px;
    justify-self: center;
}
.logo {
    display: flex;
    flex-direction: row;
    padding: 15px 18px;
    gap: 20px;
    font-size: 30px;
    
}
.nav-group{
    padding: 20px 18px;
    display: grid;
    grid-template:  repeat(auto-fit, 30px)  / 1fr 4fr;
    column-gap: 5px;
    align-content: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 20px;
}

.header{
    grid-column: 2/6;
    grid-row: 1/2;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-weight: bold;
    padding: 12px 36px;
    box-shadow: 2px 2px 5px rgb(175, 175, 175);
}
.upper-header {
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    gap: 16px;
}
.search input{
    border-radius: 12px;
    height: 3vh;
    width: 30vw;
    border: none;
    background-color: rgb(205, 222, 228);
}
.personal {
    display: flex;
    gap: 32px;
    width: 16vw;
    justify-content: center;
    align-items: center;
}
.profile-img{
    max-width: 50px;
    border-radius: 50%;
}


.lower-header {
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-grid{
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
}
.greeting {
    grid-template-areas: "mainimg hi hi hi" "mainimg name name name";
    column-gap: 16px;
}
.greeting #main-img {
    justify-self: flex-end;
    max-width: 75px;
    grid-area: mainimg;
}
.greeting .hello {
    align-self: flex-end;
    font-size: small;
    grid-area: hi;
}
.greeting .name {
    align-self: flex-start;
    font-size: x-large;
    grid-area: name;
}
.actions {
    display: flex;
    gap: 24px;
}
.actions > button {
    width: 6vw;
    height: 4.5vh;
    color: white;
    border: none;
    font-weight: bold;
    background-color: rgb(17, 169, 230);
    border-radius: 24px;
}


.main{
    position: static;
    grid-column: 2/6;
    grid-row: 2/6;
    background-color: rgb(198, 216, 223);
    display: grid;
    grid-template-columns:3fr 1fr;
}
.projects{
    position: static;
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: repeat(11,1fr);
}
.section-title{
    padding: 18px 0px;
    align-self: flex-end;
    font-size: larger;
    font-weight: bold;
}
.projects > .section-title{
    padding: 18px 20px;
}
.project-list{
    padding: 0px 20px;
    grid-row: 2/11;
    display: grid;
    grid-template-rows: repeat(auto-fit,1fr) / 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}
.project-card{
    overflow: hidden;
    position: relative;
    border-left: 6px solid orange;
    border-radius: 3px;
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px rgb(175, 175, 175);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 20px 16px;
    width: 25vw;
    height: 18vh;
    gap: 3px;
}
.card-title{
    font-weight: bold;
    align-self: flex-end;
}
.card-body{
    font-size: small;
    max-height: 6vh;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(90, 90, 90);
}
.card-icons{
    justify-self: flex-end;
    display: flex;
    gap: 20px;
}
.card-icons > .icon{
    max-height: 24px;
    max-width: 24px;
}

.info-sidebar{
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(11,1fr);
}
.list{
    max-width: 17vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(175, 175, 175);
    padding: 10px;
}
.announcement-list{
    grid-row: 2/6;
    display: flex;
    flex-direction: column;
    
}
.announcement{
    margin: 12px;
    max-width: 16vw;
}
.announcement-title{
    font-weight: bold;
}
.announcement-body{
    font-size: small;
}
hr{
    max-width: 16vw;
}


.trending-list{
    grid-row: 7/11;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.trending-profile{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}
.trending-img{
    justify-self: center;
    align-self: center;
    height: 35px;
    width: 40px;
    border-radius: 50%;
    grid-row: 1/3;
}
.profile-handle{
    grid-column: 2/3;
    font-weight: 600;
}
.profile-description{
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: small;
}